*{
    margin: 0;
    padding: 0;
}

.Header{
    display: flex;
    align-content: center;
    text-align: left;
    justify-content: space-around;
    background-color: brown;
    position: fixed top;
    width: 100%;
    height: 8vh;
}

.Header img{
    width: 10%;
    height: 5vh;
    margin: auto;
    margin-left: 2%;
}

.Header h3{
    font-family: "Zen Dots", sans-serif;
    margin: auto;
    margin-left: 0%;
    color: gold;
}

.Hero{
    width: 100%;
    height: 100vh;
    background-image: url(../IMG/Relâmpago\ McQuen.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-around;
    align-content: center;
    text-align: left;
}

.Hero .Text{
    width: 40%;
    margin-left: 5%;
}

.Hero .Text h1{
    font-family: "Zen Dots", sans-serif;
    color: gold;
}

.Hero .Text p{
    font-family: 'Courier New', Courier, monospace;
    color: beige;
}

.Hero .Text button{
    background-color: brown;
    color: beige;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    padding: 2% 3%;
    margin-top: 3%;
    animation: crescer 5s linear infinite;
}

.Hero .Text button a{
    color:beige;
    text-decoration: none;
}

.Hero .Text button:hover{
    box-shadow: 0px 2px 10px beige;
}

.Footer {
    width: 100%;
    height: 10vh;
    display: block;
    align-content: center;
    text-align: center;
    background-color: brown;
}

.Footer .Text{
    display: flex;
    justify-self: center;
    width: 80%;
    justify-content: space-between;
    margin: 0% 2%;
}

.Footer .Tittle h3{
    font-family: "Zen Dots", sans-serif;
    color: gold;
}

.Footer .Text p{
    font-family: 'Courier New', Courier, monospace;
    color: beige;
}

.FooterAT{
    display: none;
}

@media (max-width: 780px) {
    .Footer{
        display: none;
    }
    .FooterAT{
        display: block;
        background-color: brown;
        width: 100%;
        padding: 2%;
    }
    .FooterAT h3{
        font-family: "Zen Dots", sans-serif;
        color: gold;
    }
    .FooterAT ul{
        list-style: none;
        color: beige;
        font-family: 'Courier New', Courier, monospace;
    }
    .Hero{
        width: 100%;
        height: 100vh;
        background-image: url(../IMG/Relâmpago\ McQueen\ AT.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .Header img{
        width: 15%;
        height: 5vh;
        margin: auto;
        margin-left: 2%;
    }
}

@keyframes crescer{
    0%{
        transform: translateX(0px);
        background-color: brown;
        width: 0px;
    }
    50%{
        transform: translateX(100px);
        background-color: brown;
    }
    100%{
        width: 150px;
        transform: translateX(0px);
        background-color: brown;
    }
}